<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>proceso</servlet-name>
        <servlet-class>controlador.proceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminar</servlet-name>
        <servlet-class>controlador.eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editar</servlet-name>
        <servlet-class>controlador.editar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>proceso</servlet-name>
        <url-pattern>/proceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminar</servlet-name>
        <url-pattern>/eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editar</servlet-name>
        <url-pattern>/editar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <data-source>
        <description>DataSource cursos</description>
        <name>java:app/cursoDS</name>
        <class-name>org.postgresql.ds.PGSimpleDataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>5432</port-number>
        <database-name>master_cursos</database-name>
        <user>postgres</user>
        <password>12345</password>
    </data-source>
</web-app>
